@use "fonts";

@use "layout";
@use "posts";
@use "comments";

:root {
  --color-text: rgb(5, 9, 14);
  --color-border: rgb(5, 9, 14, 0.22);
  --color-primary-accent: rgb(255, 107, 0);
  --color-border-accent: rgba(255, 107, 0, 0.3);
}